repos:
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: detekt
        name: detekt
        entry: ./gradlew detekt
        language: system
        files: \.kt$
        pass_filenames: false
